### Calculating Beta of Stocks

In [14]:
import numpy as np
import pandas as pd
import nsepy as nse
import matplotlib.pyplot as plt

In [15]:
from nsepy import get_history
from datetime import date

In [17]:
tickers = ['INFY', 'NIFTYBEES']
sec_data = pd.DataFrame(columns=tickers)
for t in tickers:
    sec_data[t] = nse.get_history(t, index = False, start = date(2018, 1, 1), end = date(2023, 3, 23))['Close']

In [4]:
sec_data

               INFY  NIFTYBEES
Date
2018-01-01  1033.55    1078.14
2018-01-02  1029.70    1074.61
2018-01-03  1021.30    1076.29
2018-01-04  1015.40    1081.76
2018-01-05  1012.00    1087.20
...             ...        ...
2023-03-17  1420.70     187.42
2023-03-20  1403.65     186.20
2023-03-21  1390.70     187.46
2023-03-22  1389.25     187.88
2023-03-23  1374.55     186.91

[1296 rows x 2 columns]

In [5]:
sec_returns = np.log(sec_data/sec_data.shift(1))
sec_returns

                INFY  NIFTYBEES
Date
2018-01-01       NaN        NaN
2018-01-02 -0.003732  -0.003280
2018-01-03 -0.008191   0.001562
2018-01-04 -0.005794   0.005069
2018-01-05 -0.003354   0.005016
...              ...        ...
2023-03-17  0.011753   0.006370
2023-03-20 -0.012074  -0.006531
2023-03-21 -0.009269   0.006744
2023-03-22 -0.001043   0.002238
2023-03-23 -0.010638  -0.005176

[1296 rows x 2 columns]

In [6]:
cov = sec_returns.cov()*250
cov

               INFY  NIFTYBEES
INFY       0.167295   0.026538
NIFTYBEES  0.026538   1.046979

In [7]:
cov_with_market = cov.iloc[0,1]
cov_with_market

0.026538117944360767

In [8]:
market_var = sec_returns['NIFTYBEES'].var()*250
market_var

1.0469789478313876

### Beta

### $$ 
\beta_{pg} = \frac{\sigma_{pg,m}}{\sigma_{m}^2}
$$

In [9]:
INFY_beta = cov_with_market/market_var
INFY_beta

0.025347327182967047

### Calculating Expected Return of INFY (CAPM)

In [18]:
INFY_ER = 0.06 + INFY_beta * 0.09
INFY_ER

0.062281259446467035

### Sharpe Ratio

In [19]:
Sharpe = (INFY_ER - 0.025)/(sec_returns['INFY'].std()*250**0.5)

In [20]:
Sharpe

0.09114843718518807